.all{
    width: 100%;
    background: #f2f2f2;
    padding-bottom: 70px;
  }
  .top{
    width: 95%;
    margin: 0 auto;
    background: #fef3c6;
    font-size: 11px;
    display: flex;
    align-items: center;
    padding: 8px 0;
    border-radius: 10px;
    color: #ec9a3d;
  }
  .top img{
    width: 14px;
    height: 14px;
    margin-left: 10px;
    margin-top: 2px;
  }
  .top span{
    margin-left: 5px;
  }
  .btn{
    width: 100%;
    height: 50px;
    background-color: #fff;
    position: fixed;
    bottom: 0;
  }
  .btm{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-top: 10px;
      margin-right: 10px;
  }
  .btv{
      font-size: 13px;
  }
  .bts{
      font-size: 13px;
      color: #ff5119;
  }
  .btb{
      color: #ff5119;
      font-size: 20px;
  }
  .btc{
      width: 100px;
      height: 35px;
      background-color: #0cb2fe;
      color: #fff;
      border-radius: 17px;
      text-align: center;
      line-height: 35px;
      margin-left: 10px;
  }
.el-message-box{
      width: 200px;
  }
  .pop{
    width: 80%;
    position: absolute;
    background-color: #fff;
    top: 35%;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 5px;
}
.pop_t{
    text-align: center;
    margin: 30px 0;
}
.pop_b{
    display: flex;
    text-align: center;
}
.pop_l{
    color: #606266;
    width: 50%;
    height: 40px;
    line-height: 40px;
    border-top: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
}
.pop_r{
    color: #2979ff;
    width: 50%;
    height: 40px;
    line-height: 40px;
    border-top: 1px solid #ebebeb;
}
